body {
    background-color: black;
}

h1 {
  font-family: 'Cormorant SC', serif;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.characterHeader span {
    text-decoration: underline;
    cursor: pointer;
}

.characterHeader p {
    font-family: 'Cormorant SC', serif;
    font-size: 1.5em;
}

.characterInfo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.characterInfo > ul{
    list-style-type: none;
}

.characterInfo li {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    font-weight: 100;
}

.characterInfo span {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
    color: white;
    cursor: auto;
}

.characterVideo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
}

.show {
    display: all;
}

.hide {
    display: none;
}

.videoBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    z-index: 200; 
}