.App {
  position: relative;
  color: white;
  padding: 0 120px;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: contain;
  z-index: -1;
}

.navBar {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar img {
  width: 100px;
  cursor: pointer;
}

.navMenu {
  display: flex;
  flex-direction: row;
}

.navMenu * {
  margin-left: 30px;
  cursor: pointer;
}

.navMenu img {
  width: 20px;
}

.mainHeader {
  margin-top: 120px;
}

.mainHeader h1 {
  font-size: 100px;
  font-family: 'Cormorant SC', serif;
  font-weight: 300;
  margin: 0;
}

.mainBottomPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.popularList p h3 {
  margin: 10px 0;
}

.popularList p {
  opacity: .7;
  font-size: 13px;
}

.storyArticle {
  width: 90%;
  max-width: 400px;
  font-weight: bold;
}

.storyArticle p {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.849);
}
